@if(homePage?.slug == 'fashion_one'){
  <app-fashion-1 [data]="homePage" [slug]="theme"></app-fashion-1>
}
@else if(homePage?.slug == 'fashion_two'){
  <app-fashion-2 [data]="homePage" [slug]="theme"></app-fashion-2>
}
 @else if(homePage?.slug == 'fashion_three'){
  <app-fashion-3 [data]="homePage" [slug]="theme"></app-fashion-3>
}
@else if(homePage?.slug == 'fashion_four'){
  <app-fashion-4 [data]="homePage" [slug]="theme"></app-fashion-4>
}
@else if(homePage?.slug == 'fashion_five'){
  <app-fashion-5 [data]="homePage" [slug]="theme"></app-fashion-5>
}
@else if(homePage?.slug == 'fashion_six'){
  <app-fashion-6 [data]="homePage" [slug]="theme"></app-fashion-6>
}
@else if(homePage?.slug == 'fashion_seven'){
  <app-fashion-7 [data]="homePage" [slug]="theme"></app-fashion-7>
}
@else if(homePage?.slug == 'furniture_one'){
  <app-furniture-1 [data]="homePage" [slug]="theme"></app-furniture-1>
}
@else if(homePage?.slug == 'furniture_two'){
  <app-furniture-2 [data]="homePage" [slug]="theme"></app-furniture-2>
}
@else if(homePage?.slug == 'furniture_dark'){
  <app-furniture-dark [data]="homePage" [slug]="theme"></app-furniture-dark>
}
@else if(homePage?.slug == 'electronics_one'){
  <app-electronic-1 [data]="homePage" [slug]="theme"></app-electronic-1>
}
@else if(homePage?.slug == 'electronics_two'){
  <app-electronic-2 [data]="homePage" [slug]="theme"></app-electronic-2>
}
@else if(homePage?.slug == 'electronics_three'){
  <app-electronic-3 [data]="homePage" [slug]="theme"></app-electronic-3>
}
@else if(homePage?.slug == 'marketplace_one'){
  <app-marketplace-1 [data]="homePage" [slug]="theme"></app-marketplace-1>
}
@else if(homePage?.slug == 'marketplace_two'){
  <app-marketplace-2 [data]="homePage" [slug]="theme"></app-marketplace-2>
}
@else if(homePage?.slug == 'marketplace_three'){
  <app-marketplace-3 [data]="homePage" [slug]="theme"></app-marketplace-3>
}
@else if(homePage?.slug == 'marketplace_four'){
  <app-marketplace-4 [data]="homePage" [slug]="theme"></app-marketplace-4>
}
@else if(homePage?.slug == 'vegetables_one'){
  <app-vegetables-1 [data]="homePage" [slug]="theme"></app-vegetables-1>
}
@else if(homePage?.slug == 'vegetables_two'){
  <app-vegetables-2 [data]="homePage" [slug]="theme"></app-vegetables-2>
}
@else if(homePage?.slug == 'vegetables_three'){
  <app-vegetables-3 [data]="homePage" [slug]="theme"></app-vegetables-3>
}
@else if(homePage?.slug == 'vegetables_four'){
  <app-vegetables-4 [data]="homePage" [slug]="theme"></app-vegetables-4>
}
@else if(homePage?.slug == 'jewellery_one'){
  <app-jewellery-1 [data]="homePage" [slug]="theme"></app-jewellery-1>
}
@else if(homePage?.slug == 'jewellery_two'){
  <app-jewellery-2 [data]="homePage" [slug]="theme"></app-jewellery-2>
}
@else if(homePage?.slug == 'jewellery_three'){
  <app-jewellery-3 [data]="homePage" [slug]="theme"></app-jewellery-3>
}
@else if(homePage?.slug == 'bag'){
  <app-bag [data]="homePage" [slug]="theme"></app-bag>
}
@else if(homePage?.slug == 'watch'){
  <app-watch [data]="homePage" [slug]="theme"></app-watch>
}
@else if(homePage?.slug == 'medical'){
  <app-medical [data]="homePage" [slug]="theme"></app-medical>
}
@else if(homePage?.slug == 'perfume'){
  <app-perfume [data]="homePage" [slug]="theme"></app-perfume>
}
@else if(homePage?.slug == 'yoga'){
  <app-yoga [data]="homePage" [slug]="theme"></app-yoga>
}
@else if(homePage?.slug == 'bicycle'){
  <app-bicycle [data]="homePage" [slug]="theme"></app-bicycle>
}
@else if(homePage?.slug == 'marijuana'){
  <app-marijuana [data]="homePage" [slug]="theme"></app-marijuana>
}
@else if(homePage?.slug == 'tools'){
  <app-tools [data]="homePage" [slug]="theme"></app-tools>
}
@else if(homePage?.slug == 'christmas'){
  <app-christmas [data]="homePage" [slug]="theme"></app-christmas>
}
@else if(homePage?.slug == 'shoes'){
  <app-shoes [data]="homePage" [slug]="theme"></app-shoes>
}
@else if(homePage?.slug == 'kids'){
  <app-kids [data]="homePage" [slug]="theme"></app-kids>
}
@else if(homePage?.slug == 'books'){
  <app-books [data]="homePage" [slug]="theme"></app-books>
}
@else if(homePage?.slug == 'beauty'){
  <app-beauty [data]="homePage" [slug]="theme"></app-beauty>
}
@else if(homePage?.slug == 'surfboard'){
  <app-surfboard [data]="homePage" [slug]="theme"></app-surfboard>
}
@else if(homePage?.slug == 'goggles'){
  <app-goggles [data]="homePage" [slug]="theme"></app-goggles>
}
@else if(homePage?.slug == 'gym'){
  <app-gym [data]="homePage" [slug]="theme"></app-gym>
}
@else if(homePage?.slug == 'video_slider'){
  <app-video-slider [data]="homePage" [slug]="theme"></app-video-slider>
}
@else if(homePage?.slug == 'pets'){
  <app-pets [data]="homePage" [slug]="theme"></app-pets>
}
@else if(homePage?.slug == 'nursery'){
  <app-nursery [data]="homePage" [slug]="theme"></app-nursery>
}
@else if(homePage?.slug == 'game'){
  <app-game [data]="homePage" [slug]="theme"></app-game>
}
@else if(homePage?.slug == 'flower'){
  <app-flower [data]="homePage" [slug]="theme"></app-flower>
}
@else if(homePage?.slug == 'gradient'){
  <app-gradient [data]="homePage" [slug]="theme"></app-gradient>
}
@else if(homePage?.slug == 'video'){
  <app-video [data]="homePage" [slug]="theme"></app-video>
}
@else if(homePage?.slug == 'full_page'){
  <app-full-page [data]="homePage" [slug]="theme"></app-full-page>
}
@else if(homePage?.slug == 'parallax'){
  <app-parallax [data]="homePage" [slug]="theme"></app-parallax>
}
@else if(homePage?.slug == 'digital_download'){
  <app-digital-download [data]="homePage" [slug]="theme"></app-digital-download>
}
@else if('single_product' == 'single_product'){
  <app-single-product [data]="homePage" [slug]="theme"></app-single-product>
}