<!-- Home Section Start -->
<section class="p-0 height-85 tools_slider">
  <div class="home-slider">
    <app-theme-home-slider [banners]="data?.content?.home_banner"></app-theme-home-slider>
  </div>
</section>
<!-- Home Section End -->

<!-- Service Start -->
@if(data?.content?.services){
  <section class="absolute-banner tools-service" [ngClass]="!data?.content?.categories?.status && !data?.content?.products_list_1?.status ? 'section-b-space' : 'pb-0'">
    <div class="container">
      <div class="absolute-bg">
        <app-theme-services [services]="data?.content?.services?.banners" [class]="'col-lg-3 col-sm-6 service-block'"></app-theme-services>
      </div>
    </div>
  </section>
}
<!-- Service End -->

<!-- category section start-->
@if(data?.content?.categories?.status){
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <app-theme-title [title]="data?.content?.categories" [type]="'luxury'"></app-theme-title>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-0 category-tools ratio3_2" [class.section-b-space]="!data?.content?.products_list_1?.status">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="slide-4 category-m">
            <app-categories [categoryIds]="data?.content?.categories?.category_ids || []" [style]="'one'" [slider]="true" [options]="options"></app-categories>
          </div>
        </div>
      </div>
    </div>
  </section>
}
<!-- category section end-->

<!-- product slider start -->
@if(data?.content?.products_list_1?.status){
  <section class="section-b-space">
    <div class="container">
      <app-theme-title [title]="data?.content?.products_list_1" [type]="'luxury'"></app-theme-title>
          <app-theme-product [productIds]="data?.content?.products_list_1?.product_ids || []" [slider]="true" [style]="'vertical'" [options]="productSlider"></app-theme-product>
    </div>
  </section>
}
<!-- product slider end -->

<!-- parallax section start -->
@if(data?.content?.products_list_2?.status){
  <section class="section-b-space popular-products-section" [ngStyle]="{'background-image': 'url('+ StorageURL + data?.content?.products_list_2?.image_url +')'}">
    <div class="container">
      <app-theme-title [title]="data?.content?.products_list_1" [type]="'luxury'"></app-theme-title>
      <app-theme-product [productIds]="data?.content?.products_list_2?.product_ids || []" [slider]="true" [style]="'vertical'" [options]="productSlider"></app-theme-product>
    </div>
  </section>
}
<!-- parallax section end -->

<!-- product section start -->
@if(data?.content?.category_product?.status){
  <section class="tools_product" [class.pt-0]="!data?.content?.products_list_2?.status">
    <div class="container">
      <div class="row g-sm-4 g-3">
        @if(data?.content?.category_product?.left_panel?.status){
          <div class="col-xl-3 col-lg-4 col-md-12">
            <div class="theme-card">
              <h5 class="title-border">{{ data?.content?.category_product?.left_panel?.title }}</h5>
              <div class="offer-slider ">
                <app-theme-product [productIds]="data?.content?.category_product?.left_panel?.product_ids || []" [style]="'horizontal'"></app-theme-product>
              </div>
            </div>
          </div>
        }

        @if(data?.content?.category_product?.right_panel?.product_category?.status){
          <div class="col-12" [ngClass]="data?.content?.category_product?.left_panel?.status ? 'col-xl-9 col-lg-8' : 'col-12'">
            <app-theme-product-tab-section [categoryIds]="data?.content?.category_product?.right_panel?.product_category?.category_ids" [style]="'vertical'" [slider]="true"></app-theme-product-tab-section>
            <div class="banner-tools">
              <img [src]="StorageURL + data?.content?.category_product?.right_panel?.product_banner?.image_url" alt="banner" class="img-fluid">
            </div>
          </div>
        }
      </div>
    </div>
  </section>
}

<!-- Brand Section Start -->
@if(data?.content?.brand?.status){
  <section class="section-b-space tools-brand">
    <app-theme-brand [brandIds]="data?.content?.brand?.brand_ids || []"></app-theme-brand>
  </section>
}
<!-- Brand Section End -->
