<!-- video layout start -->
<!-- <div id="block" style="width: 100%; height: 100vh; position: relative;" data-vide-options="position: 0% 50%">
  <div style="position: absolute; z-index: -1; inset: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 0% 50%; background-image: url(' + {{ StorageURL + data?.content?.video?.video_url }} + ');"><video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 0%; transform: translate(0%, -50%); visibility: visible; opacity: 1; width: 1922px; height: auto;">
      <source [src]="StorageURL + data?.content?.video?.video_url" type="video/mp4">
    </video></div>
</div> -->

<section class="p-0">
  <div class="home-slider">
    <a>
      <img [src]="StorageURL+data?.content?.video?.video_url" class="bg-img w-100" alt="banner">
    </a>
  </div>
</section>
<!-- video layout end -->
  